@model IceCreamProject.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>Create User</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="~/admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/admin/css/style-responsive.css" rel="stylesheet" />
    <!-- Font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Font-awesome icons -->
    <link rel="stylesheet" href="~/admin/css/font.css" type="text/css" />
    <link href="~/admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/admin/js/jquery2.0.3.min.js"></script>
</head>
<body>
    <div class="log-w3">
        <div class="w3layouts-main">
            <h2>Create New User</h2>
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                  
                    <input asp-for="UserName" class="ggg" placeholder="User Name" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                   
                    <input asp-for="Password" type="password" class="ggg" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                   
                    <input asp-for="Email" type="email" class="ggg" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="active" type="checkbox"/> Active
                    <span asp-validation-for="active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="paymentStatus">Payment Status</label>
                    <select asp-for="Payment" class="ggg" id="paymentStatus">
                        <option value="Paid">Paid</option>
                        <option value="Unpaid">Unpaid</option>
                    </select>
                    <span asp-validation-for="Payment" class="text-danger"></span>
                </div>

              


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <h6><a asp-action="login" asp-controller="Users">Already have an account?</a></h6>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="~/admin/js/bootstrap.js"></script>
    <!-- Other JS -->
    <script src="~/admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/admin/js/scripts.js"></script>
    <script src="~/admin/js/jquery.slimscroll.js"></script>
    <script src="~/admin/js/jquery.nicescroll.js"></script>
    <script src="~/admin/js/jquery.scrollTo.js"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
