
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="~/confirm/css/style-freedom.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="w3l-errorpage">
        <div class="error404">
            <div class="wrapper">
                <div class="logo-brand">
                    <h1><a class="brand-logo-text" href="index.html">Ice Cream Parlour</a></h1>
                </div>
            </div>
            <div class="wrapper">
                <div class="midle-page">
                    <section class="error-container">
                        <h1>Order Confirmed</h1>
                    </section>
                    <p class="zoom-area para">Thank you for your purchase! Your order has been successfully placed.</p>
                        <p class="zoom-area para">Shop Name: <strong>IceCream Parlour</strong></p>
                    <p class="zoom-area para">Contact <strong>92-1111-1111-1111</strong></p>
                    <p class="zoom-area para">Shop Adress: <strong>Karachi,Pakistan</strong></p>
                    <p class="zoom-area para">delivery Time: <strong>1 hrs</strong></p>

                    <div class="link-container">
                        <a asp-controller="Home" asp-action="products" class="more-link">Continue Shopping</a>
                    </div>
                </div>
                <div class="columns-copy ">
                    <p class="copy-footer">© 2024 Your Company. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
                </div>
            </div>
        </div>
    </section>
   
</body>
</html>
