@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Aboutus Page";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Traditional & Delicious Ice Cream Since 1950</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">About Us</h4>
                <h5 class="text-muted mb-3">We have been crafting exquisite ice cream since 1950, bringing joy to countless ice cream lovers.</h5>
                <p>Our journey started with a simple goal: to create the best ice cream using only the finest ingredients. Over the decades, we've perfected our recipes, ensuring every scoop is a delightful experience. Whether you're a fan of classic flavors or adventurous combinations, we've got something for everyone.</p>
                <a href="[About Us Link]" class="btn btn-secondary mt-2">Learn More</a>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/layout/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <p>We pride ourselves on delivering more than just ice cream. Our features ensure a superior experience every time you visit us.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Artisanal Craftsmanship</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Fresh, Quality Ingredients</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Innovative Flavors</h5>
                <a href="[Features Link]" class="btn btn-primary mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Experienced & Most Famous Ice Cream Chefs</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/layout/img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">MAAZ</h3>
                            <h6 class="text-uppercase text-muted mb-4">ICECREAM SPECIALIST</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/layout/img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">SARA</h3>
                            <h6 class="text-uppercase text-muted mb-4">ICECREAM SPECIALIST</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/layout/img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">ZAHID</h3>
                            <h6 class="text-uppercase text-muted mb-4">ICECREAM SPECIALIST</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/layout/img/team-4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">MAAZ</h3>
                            <h6 class="text-uppercase text-muted mb-4">ICECREAM SPECIALIST</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->